body {
  background-color: #5DCFA6;
}

header {
  background-color: #D2474D;
  padding: 60px;
}

.menu-item {
  margin: auto;
  padding: 0.5em;
  min-width: 100px;
  color: #5DCFA6;
}

.menu-item:hover {
  color:  #FFF7DA;
}

.display-inline-block {
  display: inline-block;
}

.logo {

  float: right;

}

.logo img {
  height: 75px;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin: 1;
  margin-top: 0.5em;
  color: #D2474D;
  background-color: #5DCFA6;
  z-index: 1;
}

.dropdown-content a {
  color: #FFF7DA;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  display: block;
  text-align: left;
  margin: 2;
  padding: 2;
  min-width: 8em;
}

aside.content-side {
  float: right;
  margin 2em;
  margin-top: 2em;
  padding: 0;
  width: 20%;
  min-width: 200px;
  color:  #FFF7DA;
  background-color:  #D2474D;
}

.aside-text p {
  font-style: italic;
  padding: 0.5em;
  margin: 0;
  font-size: 16px;
  color: #FFF7DA;
  text-align: left;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;

}

main {
  background-color: #FFF7DA;
  flex: 1 1 auto;
  padding: 250px;

}

aside {
  background-color: #E77A4D;
  flex: 1 1 auto;
  padding: 75px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  background-color: #D2474D;
  padding: 75px;
}

h1 {
  font-family: 'Cinzel';
  color: #5DCFA6;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.4em;
  font-size: 32px;
}

h2 {
  font-family: 'Open Sans' sans-serif;
  color: #D2474D;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.4em;
  font-size: 26px;
}

.paragraph-1 {
  font-family: 'Open Sans' sans-serif;
  color: #D2474D;
  text-indent: 1.5em;
  font-size: 20px;
}

p {
  display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.review {
  color: black;
  font-style: italic;
}

div {
  display: block;
}


.pages {
  text-align: center;
  word-spacing: 60px;
}

a {
  font-family: 'Cinzel';
  color: #5DCFA6;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
}

.parent-element {
  min-height: 10em;
}

.button {
  font-size: 1em;
  color: black;
  background-color: #D2474D;
  border-color: #5DCFA6;
  border-style: solid;
  position: relative;
  margin: auto;
  width: 9em;
  text-align: center;
}

.button:hover {
  color: #FFF7DA;
  font-style: italic;
}
