body {
  background-color: #5DCFA6;
}

header {
  background-color: #D2474D;
  padding: 75px;

}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

main {
  background-color: #FFF7DA;
  flex: 1 1 auto;
  padding: 250px;

}

aside {
  background-color: #E77A4D;
  flex: 1 1 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
}

footer {
  background-color: #D2474D;
  padding: 75px;
}

h1 {
  font-family: 'Cinzel';
  color: #5DCFA6;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.4em;
  font-size: 32px;
}

h2 {
  font-family: 'Open Sans' sans-serif;
  color: #D2474D;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.4em;
  font-size: 26px;
}

.paragraph-1 {
  font-family: 'Open Sans' sans-serif;
  color: #D2474D;
  text-indent: 1.5em;
  font-size: 20px;
}

p {
  display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.review {
  color: black;
  font-style: italic;
}

div {
  display: block;
}


.pages {
  text-align: center;
  word-spacing: 60px;
}

a {
  font-family: 'Cinzel';
  color: #5DCFA6;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
}
