@charset "UTF-8";

h1 {
  font-family: 'Slabo 27px', serif;
  text-align: center;

}

* {
  font-family: 'Lato'; Georgia, serif;
  text-align: center;
  background-color: #F2F9F1;
}

p {
  text-indent: 25px;
}

/* LAYOUT AREA */
